.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  &__icon {
    width: 36px;
    height: auto;
    background-color: #f1f1f1;
    padding: 11px 9px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  &__input {
    max-width: 850px;
    outline: none;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
  }

  &__button {
    width: 37px;
    height: 40px;
    background: transparent;
    padding: 0px;
    outline: none;
    border: none;
  }
}
